* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html{
    background: rgb(228, 226, 226);
    max-width: 1500px;
    margin:auto;
    box-shadow: 10px solid rgba(97, 97, 97, 0.301);
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.8;
    font-weight: 500;
}

.header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    background-color: #3a7ee4;
    color: #fff;
    font-size: 30px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.divlinks{
    float: right;
    opacity: .7;
}
.main{
    float: left;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .10);
    position: relative;
    z-index: 3;
   

}
.sidebar{
    position: relative;
    float: right;
    width:20%;
    padding: 50px;
    color: rgb(158, 156, 156);
   justify-content: center;
   background: rgb(189, 186, 186);
   z-index: 4;
   height: 2080px;
  
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 0;
    width: auto;
}
.sidebar li{
    background: rgb(150, 149, 149);
    border-left: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: -10px;
    text-transform: uppercase;
    text-align: center;
  
}
.sidebar li a{
    text-decoration: none;
}
.sidebar a{
    text-decoration: underline;
}
.main-p{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}
.main-p ul li{
    text-decoration: none;
    list-style: none;
}
.article{
    position: relative;
    margin: 50px auto;
    max-width: 940px;
    overflow: hidden;
    padding-left: 5px;
}
.acontact{
    text-decoration: none;
     color:black;
     font-weight: 500;
     padding: 0 50px;
 }
 .acontact:hover{
     text-decoration:dashed;
     opacity: .1;
 
 }
.footer{
    clear: both;
    background-color: rgb(26, 33, 49);
    justify-content: space-between;
    text-align: center;
    height: 60%;
    width: 100%;
    padding: 20px 30px 20px 30px;
}
.afooter{
    text-decoration: none;
    color: #3a7ee4;
    padding: 0 5px;     
}
